{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
    News
{% endblock title %}

{% block content %}

<br>
<br>
<h1>{{ news_detail.title|censor }}</h1>
<p>{{ news_detail.d_time|date:'d M Y h:m' }}</p>
<br>
<br>
{{ news_detail.text|censor }}
<br>
<br>
<br>

<br>
<!--{% for category in post_category %}-->
<!--    <a href="{% url 'post_category' category.id %}">{{ category.name }} </a>-->
<!--{% endfor %}-->
<br>
<a href="{% url 'news_edit' news_detail.id %}"><u>Редактировать</u></a> <!-- добавим ссылку на редактирование товара-->
<a href="{% url 'news_delete' news_detail.id %}"><u> Удалить </u></a> <!-- добавим ссылку на удаление товара-->


{% endblock content %}